[submodule "vendors/platform-commons"]
	path = vendors/platform-commons
	url = https://github.com/jireh-veracruz/platform-commons.git
[submodule "tools/metrixplusplus"]
	path = tools/metrixplusplus
	url = https://github.com/metrixplusplus/metrixplusplus.git
[submodule "vendors/metrixplusplus"]
	path = vendors/metrixplusplus
	url = https://github.com/metrixplusplus/metrixplusplus.git
[submodule "vendors/third-party/FreeRTOS"]
	path = vendors/third-party/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
